
h2{
    margin-bottom: 20px;
    text-align: center;
}

.departments{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.badge-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20rem;
    padding: 20px;
    cursor: pointer;
}

li{
    font-size: 18px;
    padding: 9px;
    background-color: orangered;
}


.badge{
    background-color: black;
    padding: 10px;
}

.badge2{
    padding: 10px;
}